body{
    font-family: 'Vollkorn', serif;
}

/*Estilos para el botón del mapa del sitio*/
.button{
    display: block;
    padding: 24px;
    width: 50%;
    margin: auto;
    text-align: center;
    color: white;
    background-color: #1e88e5;
    border-radius: 5px;
}

.button:hover{
    background-color: #0d47a1;
}

.container{
    width: 70%;
    margin: auto;
}

a{
    text-decoration: none;
}

.footer{
    text-align: center;
    font-size: 1.1rem;
    padding: 16px 0;
    background-color: #eeeeee ;
}

.references{
    border-top: 1px solid #9E9E9E;
    margin: 16px 0;
}

.references a:visited{
    color: black;
}

.references a:hover{
    color: #2196f3;
}

@media screen and (max-width: 425px){
    .button {
        padding: 16px;
        width: 91%;
    }

    .container{
        width: 90%;
    }

    .references a{
        font-size: 0.5rem;
    }

    .references h2{
        margin: 8px 0;
    }

    .references p{
        margin: 5px 0;
    }
}
