body{
    font-family: 'Vollkorn', serif;
}

.background{
    background-image: url('../Img/background.jpg');
    width: 100%;
    overflow: hidden;
    position: relative;
}

.background img{
    position: absolute;
    cursor: pointer;
    transition: transform 1s;
}

@media screen and (min-width: 426px){
    .background img:hover{
        transform: scale(1.5, 1.5);
    }
}


.close{
    position: absolute;
    left: 95%;
    top: 3%;
    color: white;
    text-decoration: none;
}

.hidden{
    visibility: hidden;
}

.earth{
    width: 3%;
    top: 46%;
    left: 34%;
    animation-name: earth;
    animation-duration: 120s;
    animation-iteration-count: infinite;
}

@keyframes earth {
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}

.planet-name{
    position: absolute;
    padding: 8px;
    border-radius: 5px;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    z-index: 100;
}

.info{
    position: absolute;
    top: 90%;
    left: 80%;
    color: white;
}

.item-detail{
    position: absolute;
    top: 13%;
    background-color: rgba(0,0,0,0.8);
    width: 50%;
    display: block;
    left: 25%;
    border-radius: 5px;
    color: #F5F5F5;
    padding: 0 16px;
    padding-bottom: 8px;
}

.jupiter{
    width: 30%;
    top: 19%;
    left: 41%;
    animation-name: example;
    animation-duration: 49s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}

.mars{
    width: 2%;
    top: 47%;
    left: 38%;
    animation-name: mars;
    animation-duration: 120s;
    animation-iteration-count: infinite;
}

@keyframes mars {
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}

.mercury{
    top: 48%;
    left: 29%;
    width: 1%;
    animation-name: mercury;
    animation-duration: 6960s;
    animation-iteration-count: infinite;
}

@keyframes mercury {
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}

.moons{
    display: grid;
    grid-template-columns: repeat(4, auto);
    border-top: 1px solid #efefef;
}

.moons img{
    min-width: 100px;
    width: 100px;
}

.neptune{
    top: 39%;
    width: 9%;
    left: 80%;
    animation-name: neptune;
    animation-duration: 80s;
    animation-iteration-count: infinite;
}

@keyframes neptune {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

.saturn{
    width: 26%;
    top: 9%;
    left: 57%;
    animation-name: saturn;
    animation-duration: 53s;
    animation-iteration-count: infinite;
}

@keyframes saturn {
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}

.sun {
    height: 120%;
    top: -58px;
    left: -25%;
    animation-name: sun;
    animation-duration: 3000s;
    animation-iteration-count: infinite;
}

@keyframes sun {
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}

.uranus{
    width: 9%;
    top: 39%;
    left: 73%;
    animation-name: uranus;
    animation-duration: 84s;
    animation-iteration-count: infinite;
}

@keyframes uranus {
    from {transform: rotate(0deg)}
    to {transform: rotate(-360deg)}
}


.venus{
    width: 3%;
    top: 46%;
    left: 31%;
    animation-name: venus;
    animation-duration: 26160s;
    animation-iteration-count: infinite;
}

@keyframes venus {
    from {transform: rotate(0deg)}
    to {transform: rotate(-360deg)}
}

@media screen and (max-width: 425px){
    .background{
        height: 1600px;
    }

    .background img {
        transform: rotate(90deg)
    }

    .earth {
        width: 22%;
        top: 430px;
        left: 38%;
    }

    .info {
        top: 68px;
        left: 0;
        color: white;
        padding: 16px;
        text-align: center;
        background-color: rgba(0,0,0,0.5);
    }

    .item-detail{
        width: 90%;
        left: 1%;
        position: fixed;
    }

    .jupiter {
        width: 71%;
        top: 610px;
        left: 14%;
    }

    .mars {
        width: 11%;
        top: 540px;
        left: 44%;
    }

    .mercury{
        top: 290px;
        left: 46%;
        width: 7%;
    }

    .moons{
        grid-template-columns: repeat(6, auto);
        border-top: 1px solid #efefef;
    }

    .moons img{
        min-width: 50px;
    }

    .neptune {
        top: 1364px;
        width: 31%;
        left: 37%;
    }

    .saturn {
        width: 86%;
        top: 790px;
        left: 7%;
    }

    .sun{
        height: auto;
        top: -228px;
        left: -36px;
        width: 118%;
    }

    .uranus {
        width: 32%;
        top: 1204px;
        left: 37%;
    }

    .venus{
        width: 21%;
        top: 340px;
        left: 39%;
    }
}