a{
    text-decoration: none;
}

body{
    font-family: 'Vollkorn', serif;
}

/*Se asigna al fondo de la página la imagen background.jpg*/
.background{
    background-image: url('../Img/background.jpg');
    width: 100%;
    overflow: hidden;
    position: relative;
}

/*Se asigna un puntero tipo "mano" a las imágenes de los planetas*/
.background img{
    position: absolute;
    cursor: pointer;
    transition: transform 1s;
}

/*Botón de cerrar*/
.close{
    position: absolute;
    left: 95%;
    top: 3%;
    color: white;
    text-decoration: none;
}

.hidden{
    visibility: hidden;
}

.footer{
    position: absolute;
    top: 88%;
    left: 82%;
    text-align: right;
    color: white;
}

.footer a{
    color: white;
}

.footer a:hover{
    color: #9E9E9E;
}

/*Estilos para el <p> que muestra el nombre del planeta seleccionado*/
.planet-name{
    position: fixed;
    padding: 8px;
    border-radius: 5px;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    z-index: 100;
}

.info{
    position: absolute;
    top: 0;
    left: 80%;
    color: white;
}

/*Estilos para el contenedor de la información específica del planeta seleccionado*/
.item-detail{
    position: absolute;
    top: 13%;
    background-color: rgba(0,0,0,0.8);
    width: 50%;
    display: block;
    left: 25%;
    border-radius: 5px;
    color: #F5F5F5;
    padding: 0 16px;
    padding-bottom: 8px;
    z-index: 100;
}

/*Estilos para el contenedor de satélites*/
/*Se establece un diisplay grid, con 4 elementos por fila*/
.moons{
    display: grid;
    grid-template-columns: repeat(4, auto);
    border-top: 1px solid #efefef;
}

.moons img{
    min-width: 100px;
    width: 100px;
}

/*POSICIONAMIENTO DE PLANETAS*/
/*A cada uno se le agrega una animación para que rote, cada uno a diferente velocidad*/
/*A cada planeta se le asigna un ancho dependiendo de su tamño real*/
.earth{
    width: 3%;
    top: 46%;
    left: 34%;
    animation-name: earth;
    animation-duration: 120s;
    animation-iteration-count: infinite;
}

.jupiter{
    width: 30%;
    top: 19%;
    left: 41%;
    animation-name: jupiter;
    animation-duration: 49s;
    animation-iteration-count: infinite;
}

.mars{
    width: 2%;
    top: 47%;
    left: 38%;
    animation-name: mars;
    animation-duration: 120s;
    animation-iteration-count: infinite;
}

.mercury{
    top: 48%;
    left: 29%;
    width: 1%;
    animation-name: mercury;
    animation-duration: 6960s;
    animation-iteration-count: infinite;
}

.neptune{
    top: 39%;
    width: 9%;
    left: 80%;
    animation-name: neptune;
    animation-duration: 80s;
    animation-iteration-count: infinite;
}

.saturn{
    width: 26%;
    top: 9%;
    left: 57%;
    animation-name: saturn;
    animation-duration: 53s;
    animation-iteration-count: infinite;
}

.sun {
    height: 120%;
    top: -58px;
    left: -25%;
    animation-name: sun;
    animation-duration: 3000s;
    animation-iteration-count: infinite;
}

.uranus{
    width: 9%;
    top: 39%;
    left: 73%;
    animation-name: uranus;
    animation-duration: 84s;
    animation-iteration-count: infinite;
}

.venus{
    width: 3%;
    top: 46%;
    left: 31%;
    animation-name: venus;
    animation-duration: 26160s;
    animation-iteration-count: infinite;
}

/*Rote de 0 a 360° en un tiempo específico (1 animación por cada cuerpo celeste)*/
@keyframes earth {
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}

@keyframes jupiter {
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}

@keyframes mars {
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}

@keyframes mercury {
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}

@keyframes neptune {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

@keyframes saturn {
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}

@keyframes sun {
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}

@keyframes uranus {
    from {transform: rotate(0deg)}
    to {transform: rotate(-360deg)}
}

@keyframes venus {
    from {transform: rotate(0deg)}
    to {transform: rotate(-360deg)}
}

/*Adecuación para pantallas con un ancho menor o igual a 425px*/
@media screen and (max-width: 425px){
    .background{
        height: 1600px;
    }

    /*Se rotan todas las imágenes con el fin de que el sistema no se vea de izquierda a derecha,
    sino de arriba hacia abajo*/
    .background img {
        transform: rotate(90deg)
    }

    .footer {
        width: 100%;
        top: 288%;
        left: 0;
        text-align: center;
        color: white;
    }

    .info {
        top: 68px;
        left: 0;
        color: white;
        padding: 16px;
        text-align: center;
        background-color: rgba(0,0,0,0.5);
    }

    .item-detail{
        width: 90%;
        left: 1%;
        position: fixed;
    }

    /*Se muestran 6 lunas por fila*/
    .moons{
        grid-template-columns: repeat(6, auto);
        border-top: 1px solid #efefef;
    }

    .moons img{
        min-width: 50px;
    }

    /*Se redimensionan las imágenes de los planetas de acuerdo al ancho de la pantalla*/
    /*Se posicionan de tal forma que cada uno quede en el centro de la pantalla por medio de left*/
    /*Se posicionan de tal modo que lo planetas queden uno encima de otro por medio de top*/
    .earth {
        width: 22%;
        top: 430px;
        left: 38%;
    }

    .jupiter {
        width: 71%;
        top: 610px;
        left: 14%;
    }

    .mars {
        width: 11%;
        top: 540px;
        left: 44%;
    }

    .mercury{
        top: 290px;
        left: 46%;
        width: 7%;
    }

    .neptune {
        top: 1364px;
        width: 31%;
        left: 37%;
    }

    .saturn {
        width: 86%;
        top: 790px;
        left: 7%;
    }

    .sun{
        height: auto;
        top: -228px;
        left: -36px;
        width: 118%;
    }

    .uranus {
        width: 32%;
        top: 1204px;
        left: 37%;
    }

    .venus{
        width: 21%;
        top: 340px;
        left: 39%;
    }
}